.idea/*
!.idea/fileTemplates/
!.idea/fileTemplates/includes/
!.idea/codeStyleSettings.xml

*.iml
*.ipr
*.iws
*.bat
out

*~
.DS_Store
.classpath
.project
.settings/
bin/
.gradle*
.gradle/*
**/build/
**/classes/
**/out/

http-client.private.env.json
